<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<h1 align="center" style="margin-top:20px ;font-size:4em ;font-family: 'irish-growler' ">VECTOR SPACE MODEL</h1>
<form action="/" method="POST">
	
<div align="center" ; style="margin-top:10px; background-color:darkblue;">		
	
<input type="text" style="width:30% ; margin-top:40px ;height: 40px ;border-radius: 10px;font-size:1.5em ; margin-left:30px;  border: none"  name="text1">  <br />
<input type="submit"  value="Search" style="width:6%;margin-top:20px ; margin-bottom: 40px ;border-radius: 10px; border: none ;font-size:1.5em ;" onclick="window.location.href='http://127.0.0.1:5000/'"> 
	
</div>	
</form>
	 <table width="100%">
		 <th width="33%">
		 <center style=" font-size:1.3em ;"> 
			<h1>{{www1}}</h1>
			<P>{{ ax }}{{zw}}{{ ay }}</P>
			<P>{{ bx }}{{zw}}{{ by }}</P>
			<P>{{ cx }}{{zw}}{{ cy }}</P>
			<P>{{ dx }}{{zw}}{{ dy }}</P>
			<P>{{ ex }}{{zw}}{{ ey }}</P>
		</center> 
		</th>
		 <th>
		<center style=" font-size:1.3em ; "> 
			<h1>{{www2}}</h1>
			<P>{{ aa1 }}{{zw}}{{ ab1 }}</P>
			<P>{{ ba1 }}{{zw}}{{ bb1 }}</P>
			<P>{{ ca1 }}{{zw}}{{ cb1 }}</P>
			<P>{{ da1 }}{{zw}}{{ db1 }}</P>
			<P>{{ ea1 }}{{zw}}{{ eb1 }}</P>
		</center>
		</th>
		<th>
		<center style=" font-size:1.3em ;"> 
			<h1>{{www3}}</h1>
			<P>{{ aa2 }}{{zw}}{{ ab2 }}</P>
			<P>{{ ba2 }}{{zw}}{{ bb2 }}</P>
			<P>{{ ca2 }}{{zw}}{{ cb2 }}</P>
			<P>{{ da2 }}{{zw}}{{ db2 }}</P>
			<P>{{ ea2 }}{{zw}}{{ eb2 }}</P>
	</center>
		</th>
	</table>
	
</body>
</html>